*{
	margin:0;
	padding:0;
}

body{
	background : url('../img/bg1.png');
	font-family: "Lato","Tahoma",sans-serif; 
}

h1{
	font-size: 30px;
	color: #7e7e7e;
	margin-left: 250px;
}

input{  
    width: 285px;  
    height: 25px;  
    margin: 50px 0 0 0;  
    padding: 2px 7px;  
    font-size: 18px;  
    font-family: "Lato","Tahoma",sans-serif;
} 

#wrapper{  
    width: 960px;  
    /*margin-left: auto;  
    margin-right: auto;  */
	margin: auto;
    padding: 50px 0 0 0;  
} 

.bunch{
    width: 300px;  
    margin: 0 auto 0 auto;  
}  

#strength, #output{  
    width: 300px;  
    padding: 3px 0;  
    height: 20px;  
    color: #5e5e5e;  
    font-size: 14px;  
    text-align: center;  
	margin-top: 50px;
}

#output{  
    margin: 30px 0 20px 0;  
}  
  
.default{background-color: #CCC;}  
.weak{background-color: #FF5353;}  
.strong{background-color: #FAD054;}  
.stronger{background-color: #93C9F4; }  
.strongest{background-color: #B6FF6C;}
/*.plain{background-color: #FFFFFF;}  */
  
span.value{  
    font-weight:bold;  
    float: rightright;  
} 